        <h2>Dashboard</h2>
        <h3>All Blog Posts</h3>
        {{#if blogPosts.length}}
            <ul>
                {{#each blogPosts}}
                    <li>
                        <a href="/blog/post/{{this.id}}">{{this.title}}</a>
                        <!-- Optionally display the author's username -->
                        <span>by {{this.User.username}}</span>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No blog posts found.</p>
        {{/if}}

