 {{#content "body"}}
        <h2>Home</h2>
        <h3>My Blog Posts</h3>
        {{#if blogPosts.length}}
            <ul>
                {{#each blogPosts}}
                    <li>
                        <a href="/blog/post/{{this.id}}">{{this.title}}</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No blog posts yet.</p>
        {{/if}}
        <a href="/blog/new">Create New Post</a>
{{/content}}


