<h2 class="title">Home</h2>
<h3 class="section-title">My Blog Posts</h3>
{{#if blogPosts.length}}
    <ul class="post-list">
        {{#each blogPosts}}
            <li class="post-item">
                <a href="post/{{this.id}}" class="post-link">{{this.title}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No blog posts yet.</p>
{{/if}}

<button id="create-post-button" class="create-post-button">Create New Post</button>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="create-post-form" class="create-post-form" action="/post" method="POST">
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="title" required><br>
            <label for="post-content">Content:</label><br>
            <textarea id="post-content" name="content" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>


<script>
    const createPostButton = document.getElementById('create-post-button');
    const modal = document.getElementById('modal');
    const closeModal = document.getElementsByClassName('close')[0];
    
    createPostButton.addEventListener('click', function() {
        modal.style.display = 'block';
    });

    closeModal.addEventListener('click', function() {
        modal.style.display = 'none';
        });

    window.addEventListener('click', function(event) {
    if (event.target === modal) {
        modal.style.display = 'none';
    }
});

</script>



