/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Login view */
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.signup-link:hover {
    color: cornflowerblue;
}

.login-link:hover {
    color: cornflowerblue;
}

/* Sign Up view */
.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Dashboard view */
.post-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease; /* Smooth transition for background color change */
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Intense box shadow on hover */
}


.post-author {
    font-style: italic;
    color: #888;
}

/* Individual blog post view */
.blog-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Header background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.post-header-left {
    flex: 1; /* Take up remaining space */
}

.post-header-right {
    /* Add styling for the right side of the header if needed */
}
.post-title {
    margin-top: 0;
    color: #fff;
}

.post-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.post-date {
    color: #888;
    font-style: italic;
    margin-bottom: 10px;
}

.post-content {
    background-color: #fff; /* Bottom background color */
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.post-meta {
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    color: #ccc; /* Meta information color */
}

.post-meta span {
    margin-bottom: 5px; /* Add margin between the spans */
}

.comment-form {
    margin-top: 20px;
}

.comment-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items vertically at the start */

}

.comment-content {
    flex-grow: 1; /* Allow the content to expand and occupy available space */
}


.comment-content p {
    margin: 0; /* Remove default margin */
}

.comment-title {
    padding-bottom: 20px; /* Set bottom margin to create space between title and details */
}

.comment-details {
    font-size: 0.8em;
    color: #888;
    font-style: italic;
    margin: 0;
}

.button a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover a  {
    background-color: white;
    color: #333;
    border-color: #333 ;
    border-style:solid;
}

#create-post-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#create-post-button:hover {
    background-color: #555;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centered */
    padding: 20px;
    border-radius: 5px;
    border: 5px solid #888;
    width: 80%; /* 80% of parent element */
}

/* Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.created-at {
    flex-shrink: 0;
}

.custom-blog-post {
    background-color: #f9f9f9; /* Background color */
    padding: 20px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    margin-bottom: 20px; /* Spacing between blog posts */
}

.custom-blog-post .post-title {
    color: #333; /* Title color */
    font-size: 24px; /* Title font size */
    margin-top: 0; /* Remove top margin */
}

.custom-blog-post .post-date {
    color: #888; /* Date color */
    font-style: italic; /* Date font style */
}

.custom-blog-post .post-content {
    margin-bottom: 20px; /* Spacing below content */
    background-color: #f9f9f9;
}

.custom-blog-post .post-author {
    color: #555; /* Author color */
}

.custom-post-list {
    list-style-type: none;
    padding: 0;
}

.custom-post-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

.custom-post-item:hover {
    background-color: #e0e0e0;
}

.custom-post-title{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


.custom-created-at {
    font-style: italic;
    color: #888;
}

.custom-post-text {
    margin-top: 5px;
    color: #555;
}

/* Button styles */
.custom-button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.delete-post-button {
    background-color: #f44336; /* Red color */
    margin-right: 8px;
    color:white;
}

.update-post-button {
    background-color: #008CBA; /* Blue color */
    color: white;
}

.update-post-button:hover {
    background-color: #007A99; /* Lighter blue on hover */;
}

.delete-post-button:hover {
    background-color: #d32f2f; /* Lighter red on hover */;

}

.delete-comment-button {
    background-color: transparent;
    border: solid;
    border-color: #d9534f;
    color: #d9534f; /* Subtle red color */
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-comment-button:hover {
    color: #c9302c;
    border-color: #c9302c; /* Darker red color on hover */
}
